<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "/static/css/style.css"/>
    <title>Navigation entre Logements</title>

</head>
<body>
    <!-- En-tête -->
    <header>
        <h1>EcoLogement</h1>
    </header>

    <!-- Navigation -->
    <nav>
        <a href="/accueil/">Accueil</a>
        <a href="/ajouterCapteur/{{Capteurs[0].id_piece}}">Ajouter Capteur</a>
    </nav>
    <div class="container">
        {% for capteur in Capteurs[1:] %}
        <a href="/capteur/{{ capteur.id_capteur }}">
            <div class="card"> 
                <p>{{ capteur.typeCapteur }}</p>
                <p>{{ capteur.last_value }} {{ capteur.unite }}</p>
            </div>
        </a>    
        {% endfor %}
    </div>
    <!-- Pied de page -->       
    <footer>
        <p>&copy; 2024 EcoLogement. By Emmanuel Pons.</p>
    </footer>
</body>
</html>
